extends ./components/layout

block variables
    -
        var preparationList = [
          '<span>Total</span>: Approximately&nbsp;<time datetime="10m">10 minutes</time>',
          '<span>Preparation</span>:&nbsp;<time datetime="5m">5 minutes</time>',
          '<span>Cooking</span>:&nbsp;<time datetime="5m">5 minutes</time>',
        ];

        var ingredientsList = [
            '2-3 large eggs',
            'Salt, to taste',
            'Pepper, to taste',
            '1 tablespoon of butter or oil',
            'Optional fillings: cheese, diced vegetables, cooked meats, herbs',
        ];

        var instructionsList = [
            '<span>Beat the eggs</span>: In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. ' +
            'You can add a tablespoon of water or milk for a fluffier texture.',

            '<span>Heat the pan</span>: Place a non-stick frying pan over medium heat and add butter or oil.',

            '<span>Cook the omelette</span>: Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure ' +
            'the eggs evenly coat the surface.',

            '<span>Add fillings (optional)</span>: When the eggs begin to set at the edges but are still slightly runny in the ' +
            'middle, sprinkle your chosen fillings over one half of the omelette.',

            '<span>Fold and serve</span>: As the omelette continues to cook, carefully lift one edge and fold it over the ' +
            'fillings. Let it cook for another minute, then slide it onto a plate.',

            '<span>Enjoy</span>: Serve hot, with additional salt and pepper if needed.',
        ];

        var nutritionTable = [
            {name:'Calories', value:'277kcal'},
            {name:'Carbs', value:'0g'},
            {name:'Protein', value:'20g'},
            {name:'Fat', value:'22g'},
        ];

block content
    .wrapper

        main.main
            section.recipe
                .container
                    .recipe__body
                        .recipe__item
                            .recipe__img
                                img(src=require("/assets/images/image-omelette.jpeg") alt="omelette" title="omelette" height="100%" width="100%" loading="lazy" decoding="async")
                            .recipe__itemBody
                                h1.recipe__title Simple Omelette Recipe
                                .recipe__description
                                    |An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked
                                    |to perfection, optionally filled with your choice of cheese, vegetables, or meats.
                                .recipe__preparation
                                    h3.recipe__preparationTitle Preparation time
                                    ul.recipe__preparationList.blockList
                                      each val in preparationList
                                        li
                                            span!=val
                                .recipe__ingredients
                                    h2.recipe__ingredientsTitle.blockTitle Ingredients
                                    ul.recipe__ingredientsList.blockList
                                      each val in ingredientsList
                                          li
                                              span!=val
                                hr
                                .recipe__instructions
                                    h2.recipe__instructionsTitle.blockTitle  Instructions
                                    ol.recipe__instructionsList.blockList
                                      each val in instructionsList
                                          li
                                              span!=val
                                hr
                                .recipe__nutrition
                                    h2.recipe__nutritionTitle.blockTitle  Nutrition
                                    .recipe__nutritionDescription The table below shows nutritional values per serving without the additional fillings.
                                    table.recipe__nutritionTable
                                        tbody
                                          each val in nutritionTable
                                            tr
                                              td=val.name
                                              td=val.value

        footer.footer
            .container
                .attribution
                    | Challenge by
                    a(href="https://www.frontendmentor.io?ref=challenge" target="_blank")=" Frontend Mentor. "
                    | Coded by SAN